@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-weight: 400;
  src: url('../fonts/Montserrat-Regular.woff2') format('woff2'),
    url('../fonts/Montserrat-Regular.woff') format('woff')
}

@font-face {
  font-display: swap;
  font-family: 'FiraSans';
  font-weight: 400;
  src: url('../fonts/FiraSans-Regular.woff2') format('woff2'),
    url('../fonts/FiraSans-Regular.woff') format('woff')
}

@font-face {
  font-display: swap;
  font-family: 'FiraSans';
  font-weight: 700;
  src: url('../fonts/FiraSans-Bold.woff2') format('woff2'),
    url('../fonts/FiraSans-Bold.woff') format('woff')
}