.list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;

  @media (max-width: 767px) {
    grid-template-columns: 1fr;
    gap: 16px;
  }
}

.loader {
  margin: 0 auto;
  width: fit-content;
  line-height: 20px;
  padding: 19px 36px 21px;
  box-shadow: var(--shadow-thin);
  color: var(--gray);
}
